.page-card{

    background:#0f172a;

    color:white;

    padding:25px;

    margin-bottom:20px;

    border-radius:18px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    transition:.3s;

}

.page-card:hover{

    transform:translateY(-5px);

}

.page-preview{

    width:120px;

    border-radius:12px;

}

.page-info h2{

    margin-bottom:10px;

}

.page-info p{

    color:#cbd5e1;

}

.page-actions{

    display:flex;

    gap:10px;

}

.chapter-cover{

width:120px;

height:170px;

object-fit:cover;

border-radius:15px;

margin-right:25px;

}

.chapter-info{

flex:1;

}

.chapter-info p{

margin-top:8px;

color:#cbd5e1;

}
