*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;

    background: linear-gradient(
        180deg,
        #3B82F6,
        #A855F7,
        #EC4899,
        #3B82F6
    );

    font-family:Arial, sans-serif;
}

nav{
    background: linear-gradient(
        180deg,
        #020617 0%,
        #020617 42%,
        #3B82F6 50%,
        #020617 58%,
        #020617 100%
    );

    display:flex;
    justify-content:space-around;
    align-items:center;

    padding:20px;

    box-shadow:
        0 0 10px #3B82F6,
        0 0 20px #3B82F6;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:24px;
    font-weight:bold;
}

nav a:hover{
    color:#22D3EE;
}

.hero{
    text-align:center;
    margin-top:180px;
}

.hero h1{
    font-size:90px;
    color:white;

    text-shadow:
        0 0 10px white,
        0 0 20px white;
}

.hero p{
    color:white;
    font-size:35px;
    margin-top:15px;
}

.btn{
    display:inline-block;

    margin-top:35px;

    padding:15px 40px;

    background:white;
    color:black;

    text-decoration:none;

    border-radius:40px;

    font-size:20px;
    font-weight:bold;

    transition:0.3s;
}

.btn:hover{
    transform:scale(1.05);
}
